# =============================================
# APPLICATION CONFIGURATION - INTERNAL TOOLS TEST
# =============================================

PORT=YOUR_API_PORT
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# =============================================
# DATABASE CONFIGURATION - INTERNAL TOOLS TEST
# =============================================

MYSQL_ROOT_PASSWORD=YOUR_ROOT_PASSWORD_HERE
MYSQL_DATABASE=YOUR_MYSQL_DATABASE_HERE
MYSQL_USER=YOUR_MYSQL_USER_HERE
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD_HERE
MYSQL_PORT=YOUR_MYSQL_PORT_HERE
PHPMYADMIN_PORT=YOUR_PHPMYADMIN_PORT_HERE